.bg-smoke {
    background-color: rgba(0, 0, 0, 0.75);
}

.btn.is-xsmall {
    @apply px-2 text-xs leading-normal;
    padding-top: .15px;
    padding-bottom: .15px;
}

select {
    @apply block appearance-none bg-white border border-secondary-400 text-secondary-800 text-sm py-2 pl-2 pr-8 rounded leading-tight shadow cursor-pointer;
    
    &:focus {
        @apply outline-none bg-white ring-1;
    }

    &:hover {
        @apply border-secondary-600;
    }

    &.disabled {
        @apply border-secondary-300 text-secondary-400 cursor-default;
    }

    &.disabled:hover {
        @apply border-secondary-300;
    }
}

.activity-label {
    @apply text-gray-700 text-xl;

    & .activity-label-owner, & .activity-label-vendor, & .activity-label-amount {
        @apply font-semibold;
    }

    & .activity-label-type {
        @apply text-base;

        & .activity-label-amount {
            @apply text-lg;
        }
    }
}

.form-input {
    @apply border rounded text-sm leading-relaxed w-full py-1 border-secondary-400 text-secondary-800;
}

@screen lg {
    .activity-label {
        @apply text-2xl;
    
        & .activity-label-type {
            @apply text-lg;

            & .activity-label-amount {
                @apply text-xl;
            }
        }
    }
    
}